<h1>ngIf</h1>

<p *ngIf="condition; else elseBlock">True</p>
<ng-template #elseBlock>
  <p>False</p>
</ng-template>

-------------------

<p *ngIf="conditionClick">True</p>
<p *ngIf="!conditionClick">False</p>
<button (click)="onClick()">Clicar</button>

<hr>

<h1>ngFor</h1>
<button (click)="addItem()">Adicionar</button>
<ul>
  <li *ngFor="let item of items, let i = index" (click)="onClickEventList(i)">
    [{{i+1}}] - {{item.name}} - {{item.age}}
  </li>
</ul>

<hr>

<h1>ngSwitch</h1>
<input type="text" [(ngModel)]="name">
<div [ngSwitch]="name.toLowerCase()">
  <p *ngSwitchCase="'luan'">Luan</p>
  <p *ngSwitchCase="'safira'">Safira</p>
  <p *ngSwitchCase="'gordinho'">Gordinho</p>
  <p *ngSwitchDefault>Not found</p>
</div>

